<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/umi.css" />
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"
    />
    <link rel="icon" href="/static/antv.png" type="image/x-icon" />
    <title>Has Antv passed ECharts yet?</title>
    <script>
      window.routerBase = '/';
    </script>
  </head>
  <body>
    <div id="root"></div>
    <script src="/umi.js"></script>
  </body>
</html>
